<p>product-detail works!</p>
<div class="card" *ngIf="productDetail">
    <div class="card-header">
        {{ pageTitle + ': '+ productDetail.productName }}
    </div>
    <div class="card-body">
        <div class="row" *ngIf="productDetail">
            <div class="col-12 col-xl-8">
                <div class="row align-items-center">
                    <div class="col">

                        <!-- Title -->
                        <h5 class="mb-0">
                            Name:
                        </h5>

                    </div>
                    <div class="col-auto">

                        <small class="text-muted">
                            {{productDetail.productName}}
                        </small>

                    </div>
                </div>
                <!-- / .row -->

                <!-- Divider -->
                <hr>

                <div class="row align-items-center">
                    <div class="col">

                        <!-- Title -->
                        <h5 class="mb-0">
                            Code:
                        </h5>

                    </div>
                    <div class="col-auto">
                        {{productDetail.productCode}}
                    </div>
                </div>
                <!-- / .row -->

                <!-- Divider -->
                <hr>

                <div class="row align-items-center">
                    <div class="col">

                        <!-- Title -->
                        <h5 class="mb-0">
                            Description:
                        </h5>

                    </div>
                    <div class="col-auto">
                        {{productDetail.description}}
                    </div>
                </div>
                <!-- / .row -->

                <!-- Divider -->
                <hr>

                <div class="row align-items-center">
                    <div class="col">

                        <!-- Title -->
                        <h5 class="mb-0">
                            Availabity:
                        </h5>

                    </div>
                    <div class="col-auto">
                        <time class="small text-muted" datetime="2018-10-28">
                            {{productDetail.releaseDate}}
                        </time>
                    </div>
                </div>
                <!-- / .row -->

                <!-- Divider -->
                <hr>

                <div class="row align-items-center">
                    <div class="col">

                        <!-- Title -->
                        <h5 class="mb-0">
                            Price:
                        </h5>

                    </div>
                    <div class="col-auto">

                        <a href="#!" class="small">
                            {{productDetail.price| currency:'USD':'symbol':'1.2-2'}}
                        </a>

                    </div>
                </div>
                <!-- / .row -->
                <!-- Divider -->
                <hr>

                <div class="row align-items-center">
                    <div class="col">

                        <!-- Title -->
                        <h5 class="mb-0">
                            Rating:
                        </h5>

                    </div>
                    <div class="col-auto">
                        <sc-star [rating]='productDetail.starRating'></sc-star>
                    </div>
                </div>
                <!-- / .row -->
            </div>
            <div class="col-12 col-xl-4">
                <img [src]="productDetail.imageUrl" [title]="productDetail.productName" alt="{{productDetail.productName}}" class="img-fluid" style="width: 100%;" />
            </div>
        </div>

    </div>
    <div class="card-footer text-muted">
        <button type="button" class="btn btn-primary" (click)="goBack()">
            <i class="fa fa-chevron-left" aria-hidden="true"></i> Back
        </button>
    </div>
</div>